/* For demo purposes only */

.demo { width: 100%; height: 100%; }
.demo .text:nth-child(2) { text-align: center; }
.demo .text:nth-child(2) .button { margin: 0 6px; }
.demo .pills-content { text-align: center; }

@media (min-device-width: 1024px) {
  ::-webkit-scrollbar { display: none; }
  body::-webkit-scrollbar { display: inherit; width: 12px; }
  body::-webkit-scrollbar-track { background: transparent; border: 0; }
  body::-webkit-scrollbar-thumb { background: #888; border: 3px solid #333; border-radius: 6px; }
  body { background: #333; }
  .demo { position: absolute; top: 50%; left: 50%; width: 320px; height: 480px; margin: -240px 0 0 -160px; overflow: hidden; border-radius: 2px; -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }
  body:before, body:after { display: block; position: absolute; left: 0; right: 0; line-height: 50px; font-weight: bold; text-align: center; text-shadow: 0 1px 2px black; }
  body:before { content: 'Demo Mode'; top: 50%; margin-top: -290px; font-size: 16px; color: #eee; }
  body:after { content: 'Best viewed in iOS or Android 4.'; bottom: 50%; margin-bottom: -290px; font-size: 14px; color: #ccc; }
}

@media (min-device-width: 1024px) and (max-height: 580px) {
  body { overflow-y: scroll; }
  .demo, body:before, body:after { position: relative; top: auto; bottom: auto; left: auto; right: auto; margin: 0 auto; }
}